<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>front_index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/application*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/springMVC.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajaxUploadServlet</servlet-name>
    <servlet-class>com.jx.AjaxUploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxUploadServlet</servlet-name>
    <url-pattern>/ajaxUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFileProcessServlet</servlet-name>
    <servlet-class>com.jx.GetFileProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFileProcessServlet</servlet-name>
    <url-pattern>/getFileProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.servlet.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopayServlet</servlet-name>
    <servlet-class>com.servlet.TopayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotifyServlet</servlet-name>
    <servlet-class>com.servlet.NotifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Callback</servlet-name>
    <servlet-class>com.servlet.CallbackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Phonesendsms1</servlet-name>
    <servlet-class>com.phone.sendsms</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>PhoneStringUtil</servlet-name>
    <servlet-class>com.phone.StringUtil</servlet-class>
  </servlet>
     <servlet-mapping>
    <servlet-name>Phonesendsms1</servlet-name>
    <url-pattern>/Phonesendsms1</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>PhoneStringUtil</servlet-name>
    <url-pattern>/PhoneStringUtil</url-pattern>
  </servlet-mapping> 
    <servlet>
    <servlet-name>MaindlServlet</servlet-name>
    <servlet-class>com.servlet.MaindlServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Callback1</servlet-name>
    <servlet-class>com.servlet.CallbackdlServlet</servlet-class>
  </servlet>
      <servlet>
    <servlet-name>UploadServlet1</servlet-name>
    <servlet-class>com.uploaddown.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownServlet1</servlet-name>
    <servlet-class>com.uploaddown.DownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifyServlet</servlet-name>
    <url-pattern>/notifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/mainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopayServlet</servlet-name>
    <url-pattern>/topayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Callback</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>MaindlServlet</servlet-name>
    <url-pattern>/maindlServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Callback1</servlet-name>
    <url-pattern>/callback1</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UploadServlet1</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownServlet1</servlet-name>
    <url-pattern>/down</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CommonFilter</display-name>
    <filter-name>CommonFilter</filter-name>
    <filter-class>com.jx.CommonFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CommonFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
<!-- 总是出错 待解决  start by hyc
<servlet>
<servlet-name>register</servlet-name>
 <servlet-class>com.mail.servlet.register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>register</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping> -->
<!-- end -->
<servlet>
<servlet-name>reset</servlet-name>
<servlet-class>com.mail.servlet.reset</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>reset</servlet-name>
<url-pattern>/reset</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>mailReset</servlet-name>
<servlet-class>com.mail.servlet.mailReset</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>mailReset</servlet-name>
<url-pattern>/mailReset</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>mailVerify</servlet-name>
<servlet-class>com.mail.servlet.mailVerify</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>mailVerify</servlet-name>
<url-pattern>/mailVerify</url-pattern>
</servlet-mapping>
  

</web-app>